/* 以下是手機板 */
html {
    margin: 0 auto;
    max-width: 1000px;
}
#app {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    height: auto;
}
#add_new_mou #mou_title_input {
    width: 80%;
    display: block;
}
#add_new_mou label.mou_title {
    display: block;
}
#add_new_mou .mou_title h3 {
    font-size: 20px;
    font-weight: 700;
}
#add_new_mou #mou_content_input {
    width: 80%;
    display: block;
}
#add_new_mou label.mou_content {
    display: block;
}
#add_new_mou .mou_content h3 {
    font-size: 20px;
    font-weight: 700;
}
#add_new_mou .mou_date h3 {
    font-size: 20px;
    font-weight: 700;
}
#add_new_mou label.mou_date {
    display: block;
}
#add_new_mou form > ul {
    padding-top: 30px;
}
/* form 表單的 css start */
textarea {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}
/* form 表單的 css end */

/* 以下是桌機板 */
@media screen and (min-width:768px)
{
    #app {
        max-width: 1520px;
    }
}